# WMS 360+ Formatex - Backend
# Supabase PostgreSQL
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT.supabase.co:5432/postgres"

# JWT
JWT_SECRET="wms360-formatex-secret-key-2026"

# Server
PORT=3000
